body {
    margin: 0;
}

.parent {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
}
  
#description { grid-area: 1 / 6 / 5 / 7; }

#action { grid-area: 1 / 1 / 5 / 6; }

#andersImage { grid-area: 2 / 2 / 4 / 4; }

#enemyImage { grid-area: 2 / 4 / 4 / 6; }

.buttons { grid-area: 4 / 1 / 5 / 6; }

#anders_display { grid-area: 2 / 2 / 3 / 3; }

#enemy_display { grid-area: 2 / 5 / 3 / 6; }

.actionButton {
    width: 200px;
    align-items: center;
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    box-shadow: #390026 0 15px 30px -5px;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
}
.actionButton:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000); opacity: 0.6;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
}

