/*body {
    height: 100vh;
    margin: 0;
}

#anders_display {
    position: fixed;
    top: 0;
    left: 0;
}

#enemy_display {
    position: fixed;
    top: 0;
    right: 10cm;
}

#andersImage {
    height: 256px;
    width: 256px;
    position: relative;
}

#enemyImage {
    height: 256px;
    width: 256px;
}*/