body {
    margin: 0;
}

#chooseColor h1 {
    text-align: center;
    margin-top: 35px;
}

#chooseWeapon h1 {
    text-align: center;
    margin-top: 35px;
}

.andersPics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.anders {
    width: 20%;
}

.anders:hover {
    box-shadow: black 0 15px 30px -5px;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000);
    transition: 0.5s;
}

.parent {  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
}

#header { grid-area: 1 / 3 / 2 / 5; text-align: center;}

#description { grid-area: 1 / 6 / 5 / 7; }

#action { grid-area: 1 / 1 / 5 / 6; }

#andersImage { grid-area: 2 / 2 / 4 / 4; position: relative;}

#enemyImage { grid-area: 2 / 4 / 4 / 6; position: relative;}

.buttons { grid-area: 4 / 1 / 5 / 6; position: relative; left: 86px; top: 30px;}

#anders_display { grid-area: 2 / 2 / 3 / 3; }

#enemy_display { grid-area: 2 / 5 / 3 / 6; }

#enemyWeapon { grid-area: 2 / 4 / 3 / 5 ; position: relative; right: 70px; top: 40px;}

#andersWeapon { grid-area: 2 / 3 / 3 / 4; position: relative; top: 40px; right: 50px;}

#level {grid-area: 3 / 2 / 4 / 6; position: relative; top: 130px;}

#expBar {grid-area: 3 / 2 / 4 / 6; position: relative; top: 150px;}

.actionButton {
    width: 200px;
    align-items: center;
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    box-shadow: #390026 0 15px 30px -5px;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    
}
.actionButton:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000); opacity: 0.6;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
}

#expBar {
    width: 100%;
    height: 25px;
    background-color: #ddd;
}

#theBar {
    width: 0%;
    height: 25px;
    background-color: #000;
    text-align: center;
    line-height: 30px;
    color: white;
}

#level {
    max-height: 20px;
}
