body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "warrior warrior mage mage"
      "berserker berserker archer archer"
      "footer footer footer footer";
}
  
.warrior { grid-area: warrior; }

.mage { grid-area: mage; }

.berserker { grid-area: berserker; }

.archer { grid-area: archer; }

.header { grid-area: header; }

.footer { grid-area: footer; }

  