body {
    background-color: #121111;
    color: white;
}

.warriors {
    background-color: #311d0e;
    margin: 1%;
}
.warriorname {
    text-align: center;
}

.stats {
    flex-wrap: wrap;
    flex: 2;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "paladin paladin mage mage"
      "berserker berserker archer archer"
      "footer footer footer footer";
}
  
.paladin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "palpic paltext paltext paltext"
      "palpic paltext paltext paltext"
      "palpic paltext paltext paltext";
    grid-area: paladin;
}
  
.palpic { grid-area: palpic; }

.paltext { grid-area: paltext; }

.mage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "magepic magetext magetext magetext"
      "magepic magetext magetext magetext"
      "magepic magetext magetext magetext";
    grid-area: mage;
}
  
.magepic { grid-area: magepic; }

.magetext { grid-area: magetext; }

.berserker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "berspic berstext berstext berstext"
      "berspic berstext berstext berstext"
      "berspic berstext berstext berstext";
    grid-area: berserker;
}
  
.berspic { grid-area: berspic; }

.berstext { grid-area: berstext; }

.archer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "archpic archtext archtext archtext"
      "archpic archtext archtext archtext"
      "archpic archtext archtext archtext";
    grid-area: archer;
}
  
.archpic { grid-area: archpic; }

.archtext { grid-area: archtext; }

.header { grid-area: header; }

.footer { grid-area: footer; }
.fighterpic {
    height: fit-content;
    width: fit-content;
}
  